.hero {
    height: 421px;
    background: url(https://github.com/Adalab/project-promo-q-module-1-team-3/blob/main/src/images/image-hero.jpg?raw=true);
    background-size: cover;
    background-repeat: repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-title {
    background-color: $color-gris-fondo;
    padding: 15px;
    position: relative;
    transform: translate(0%, 100%);
    text-align: center;
    font-size: 1.8rem;
    @media all and (min-width: 768px) {
        opacity: 0.80;
        text-align: left;
        position: relative;
        transform: translate(-10.625em);
        margin-left: 45px;
        width: 450px;
        line-height: 1.25;

}
}