.quienes-somos-title {
    margin: 30px 0;
    font-size: 2.4rem;
    color: $color-principal;
    text-transform: uppercase;

}

.quienes-somos {
    text-align: center;
    padding: 0px 15px 0px 15px;
    
}

.quienes-somos-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.list-item-left {
    @media all and (min-width: 768px) {
        display: flex;
        justify-content: left;
        margin-left: 44px;}

    @media all and (min-width: 1200px) {
        display: flex;
        justify-content: left;
        margin-left: 136px;}
}

.list-item-right {
    @media all and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        margin-right: 44px;}
    @media all and (min-width: 1200px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        margin-right: 136px;}
}

.container-team{
    display: flex;
    flex-direction: column;
    
}


.list-item-div{
    @media all and (min-width: 768px) {
        display: flex;
        flex-direction: left;
        align-items: center;
        text-align: left;
    }
    @media all and (min-width: 1200px) {
        justify-content: center;
    }
 
}

.img-list-item {
    width: 180px;
    height: 180px;
    margin: 30px 0px 15px 0px;
    border-radius: 10px;
    border: solid $color-gris-fondo 5px;

}

.div-article{
    @media all and (min-width: 768px) {
        padding-left: 31px;
    }
    @media all and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.name {
    font-size: 2rem;
    color: black;
    padding: 5px;
    justify-content: center;
    @media all and (min-width: 1200px) {
        width: 206px;  
    }
}

.text-item {
    font-size: 1.6rem;
    color: $color-gris-oscuro;
    padding: 5px;
    @media all and (min-width: 768x) {
        width: 442px;
        
    }
    @media all and (min-width: 1200px) {
        width: 439px;
        justify-content: center;
    }
}

.rrss {
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    @media all and (min-width: 768px){
        justify-content: flex-start;
    }
    @media all and (min-width: 1200px) {
        display: flex;
        justify-content: center;
    }
}

.fa-brands,
.fa-solid {
    color: $color-principal;
    align-items: center;
}

.fa-brands::after {
    content: "·";
    font-weight: bolder;
    color: $color-principal;
    margin-left: 10%
}